.jumbotron{
	text-align: center;
	background: linear-gradient(to right, #9b1f67, #e50c30, #ce0154);
	color: white;
	font-family: 'Poppins', sans-serif;

}

#header{
	text-align: center;
	font-size: 36px;
}

th, #header{
	font-weight: bold;
}
